body {
  background: #d8eefe;
  font-family: "Nunito,", sans-serif;
}

.blurb h2 {
  color: #094067;
  font-weight: 400;
  font-size: 2.5rem;
}

.blurb p {
  color: #90b4ce;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #094067;
}

#mainNavbar .navbar-brand {
  color: #094067;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #094067;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}
.navbar.scrolled {
  background: #3da9fc;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}

@media (max-width: 990px) {
  #mainNavbar .navbar-brand {
    color: white;
  }
}
